header{
    background: url("https://www.bing.com/th?id=OIP.YMO500CrcMoZSiD-B1pA-QHaEK&w=213&h=160&c=7&o=5&dpr=2&pid=1.7");
    border-bottom: 2px solid darkblue;
    margin-bottom: 5px;
}
#title-image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-bottom: 15px;
}

#buttons-div{
    margin: 5px;
    margin-bottom: 10px;
   text-align: center;
}
button{
    border: darkgray solid 1px;
    border-radius: 4px;
    margin: 3px;
    display: inline; 
}
button:hover{
    background-image: linear-gradient(to right, rgb(245, 241, 174) 0%, rgb(220, 247, 239) 51%, rgb(245, 241, 174) 100%);
    border: darkblue;


}
#search-button:hover {
    background-image: linear-gradient(to right, rgb(167, 193, 247) 0%, rgb(220, 247, 239) 51%, rgb(167, 193, 247) 100%);
    border: darkblue;
}
body {
    background: rgb(255, 255, 96);
}
#gif-dump {
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 15px;
    justify-content: space-around;
}
#gif-dump img {
    display: 
}
.rating {
    margin: 10px;
}
